[Unit]
Description=Stardust Daemon
After=docker.service

[Service]
WorkingDirectory=/opt/stardust/apps/daemon/
ExecStart=/usr/bin/bun start
Restart=on-failure
RestartSec=5

# Change if you want
User=root

[Install]
WantedBy=multi-user.target
